 {{>headerProfile}}
<!-- 
	- Pembatalan Tiket 
	- Perubahan Jumlah Tiket
	- Konfirmasi Pembayaran
	- Menu Bantuan 
	
	-->
<style>
	.form-group {
		margin: 0 0 0 0 !important;
	}
</style>
<div id="page-content-wrapper">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h1 class="judul">Prosedur Pembayaran <i style="padding-left: 15px;" class="fa fa-handshake-o fa-lg" aria-hidden="true"></i>
				</h1>
				<br>
			</div>
			<div class="col-md-12 well">
				<div class="col-lg-12">
					<label style="font-size: 22px;">   Haiii .. <code> {{namaPembeli}} </code><i style="padding-left: 5px;font-size: 20px;" class="fa fa-bell" aria-hidden="true"></i>
 </label>
					<hr>
				</div>
				<div style="font-size: 15px;" class="col-lg-13">
					<p>Terima kasih telah memesan tiket dengan sistem E-Ticket silahkan melakukan <code> instruksi pembayaran dengan cara berikut ini :  </code></p>
				</div>
				<div style="padding-left: 40px;" class="col-md-10 " style="vertical-align: middle;">
					<label id="panduan"><i class="fa fa-angle-double-right " aria-hidden="true"></i> <code> Lengkapi</code> data pada bagian data pembeli lalu <code> klik tombol Submit </code> 
</label>
					<label id="panduan"><i class="fa fa-angle-double-right " aria-hidden="true"></i> <code> Transfer uang </code> ke rekening yang tersedia dibawah ini :  </label>
					<div style="padding-left: 27px;" class="col-md-9 ">
						<label id="bank"><i class="fa fa-credit-card" aria-hidden="true"></i>
 BCA - NO REKENING <code style="font-size: 15px;"> 98080986643 </code> - Faisal Arkan </label>
						<label id="bank"><i class="fa fa-credit-card" aria-hidden="true"></i>
BNI - NO REKENING <code style="font-size: 15px;"> 43554355531 </code> - Zio Zeng </label>
						<label id="bank"><i class="fa fa-credit-card" aria-hidden="true"></i>
BRI - NO REKENING <code style="font-size: 15px;"> 234767676767 </code> - Sativa Ken </label>
					</div>
					<label id="panduan"><i class="fa fa-angle-double-right " aria-hidden="true"></i> <code> Kirim Valdasi Tiket</code> pada bagian Validasi Tiket <code> klik tombol Kirim Tiket  </code> 
</label>
					<label id="panduan"><i class="fa fa-angle-double-right " aria-hidden="true"></i> <code>Selanjutnya admin akan mengirim email</code> Ke alamat akun email anda yang berisi tiket virtual 
</label>
	<label id="panduan"><i class="fa fa-angle-double-right " aria-hidden="true"></i> <code>Scan Bar Kode Tersebut di Tempat Konser </code> yang anda pesan sebelumnya ...
</label>			<br/><br/>

				</div>

				<div style="font-size: 15px;" class="col-lg-12">
					<p>Terima Kasih Sudah menggunakan layanan kami .. <i class="fa fa-smile-o" aria-hidden="true"></i>
</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /#page-content-wrapper -->
</div>
</body>

</html>
{{>footer}}