 {{> header }}
<div id="fullpage">
    <div data-anchor="scroll1" class="section">
        <div id="pic2" class="slide hilang" data-anchor="slide1">
            <div id="judul2" class="preload col-md-12 col-md-offset-1 judul3">
                <h1 class="judulSlider judul3">Pelatihan Bootcamp Node JS</h1>
                <label class="judul3 size" for="">Dilatih secara intensif selama 4 minggu untuk dapat terjun kedunia kerja</label>                <br>
                <label class="judul3 size" for="">Dengan Standar Ecmascript 2017</label> <br> {{{countKuota}}}
                </label> <br>
                <br>
                <a class="btn btn-raised btn-info" id="btnDaftar" href="/daftar">Daftar Sekarang <i style="padding-left:10px;" class="fa fa-paper-plane" aria-hidden="true"></i>
                </a>
            </div>
            <div class="gear ">
                <i class="fa fa-circle-o-notch judul3 fa-spin fa-4x fa-fw "></i>
            </div>
        </div>

    </div>

    <div data-anchor="scroll2" id="picScroll2" class="section">
        <div class="col-md-12  ">

            <div style="margin-top: 10px;" class=" col-md-12 pilihTiket">

                <h2 hidden class="dipercaya"> Pelajari Teknologi Terkini Dengan Waktu 4 minggu </h2>
                <!--<h2 hidden class="dipercaya"> </h2>-->
                <h2 hidden class="dipercaya"> Dengan stack Teknologi Javascript</h2>
                <!--<hr class=" garisTiket">-->

            </div>


            <div style="margin-top: -10px;" class=" col-md-12 col-md-offset-1">
                <form class="  form-horizontal  ">
                    <div hidden class="col-md-2 hitungPercaya" id="node">
                    </div>

                    <div hidden class="col-md-2 hitungPercaya" id="gambar2">
                    </div>

                    <!--
                <div class="col-md-1 " id="mongo">

                </div>-->

                </form>

            </div>

        </div>


    </div>

    <div data-anchor="scroll3" id="picScroll4" class="section">
        <div style="margin-top: -30px;" class="col-md-5 sectionTempat">
            <h1 style="    padding-bottom: 30px;
            padding-top: 20;" class="lokasi judul3"> Lokasi Bootcamp </h1>
            <div class="col-md-12">
                <p class="namaJalan lokasi">Gedung Aquarius Pondok Indah, Jl. Sultan Iskandar Muda No.7 Kebayoran Lama, Kota Jakarta Selatan.</p>

                <div style="margin-bottom: -15px;     padding-left: 40px;">
                    {{{messageError}}}
                    <br>
                    <i class="fa fa-angle-double-right  judul3" aria-hidden="true"></i><label class="judul3" id="listJadwalIndex">Sekarang Termasuk Bootcamp  Batch Ke {{idBatch}}.
                        </label><br>

                    <i class="fa fa-angle-double-right  judul3" aria-hidden="true"></i><label class="judul3" id="listJadwalIndex">Status Kuota Tersisa  {{isFullLokasi}}
                        </label><br>

                    <i class="fa fa-angle-double-right  judul3" aria-hidden="true"></i><label class="judul3" id="listJadwalIndex">Bootcamp akan berlangsung dalam waktu 4 minggu.
                      </label><br>
                    <i class="fa fa-angle-double-right  judul3" aria-hidden="true"></i><label class="judul3" id="listJadwalIndex">Pendaftaran Dibuka dari tanggal  {{pendaftaranOpen}} s/d {{pendaftaranClose}}
                        </label><br>
                    <i class="fa fa-angle-double-right  judul3" aria-hidden="true"></i><label class="judul3" id="listJadwalIndex">Bootcamp Ke {{idBatch}} dimulai pada  {{batchDimulai}} s/d {{batchSelesai}}
                        </label><br>



                </div>

            </div>
        </div>
        <div class="col-md-1 ">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.022861908095!2d106.77942215006297!3d-6.260718695446134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f1a8713ce207%3A0x2c3ea1f4a28bfac5!2sHacktiv8+Indonesia!5e0!3m2!1sen!2sid!4v1504999354184"
                width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

        </div>
    </div>
    <div data-anchor="scroll4" id="picScroll5" class="section fp-auto-height ">
        <div id="Kolomkontak" class="col-md-3 col-md-offset-1">
            <h2 style="font-size: 20px;" class="kontak ">Kontak Kami</h2>
            <ul class="kontak">
                <li><i class="fa fa-phone footer-icons" aria-hidden="true"></i> Handphone : +62-8577-8805-197</li>
                <li><i class="fa fa-fax footer-icons" aria-hidden="true"></i> Fax : 8766535775</li>
                <li><i class="fa fa-building-o footer-icons" aria-hidden="true"></i> Kantor : JL. Haji Usa Parung, Bogor. </li>
            </ul>
        </div>
        <div id="Kolomkontak" class="col-md-3 col-md-offset-1">
            <h2 style="font-size: 20px;" class="kontak">Terhubung Dengan Kami</h2>

            <ul class="kontak">
                <li><i style=" padding-right: 9px;" class="fa fa-facebook footer-icons" aria-hidden="true"></i>
                    <a class="listSosial" href="#"> Facebook </a></li>
                <li><i class="fa fa-instagram footer-icons" aria-hidden="true"></i>
                    <a class="listSosial" href="#">Instagram </a></li>
                <li><i class="fa fa-github-alt footer-icons" aria-hidden="true"></i>
                    <a class="listSosial" href="#">Github </a></li>
                <!--</ul>     

            <ul class="kontak">
                <li><i style="padding-right: 4px; padding-bottom: 5px;"  class="fa fa-google-plus " aria-hidden="true"></i>
     <a class="listSosial" href="#" > Google Plus </a></li>
      <li><i style="padding-right: 8px; padding-bottom: 5px;"  class="fa  fa-amazon " aria-hidden="true"></i>
     <a class="listSosial" href="#" > Amazon </a></li>
     <li><i style="padding-right: 10px; padding-bottom: 5px;"  class="fa  fa-linkedin footer-icons" aria-hidden="true"></i>
     <a class="listSosial" href="#" > Linkedin </a></li>

            </ul>       -->
        </div>
        <div id="Kolomkontak" class="col-md-3">
            <h2 style="font-size: 20px;" class="kontak">Situs ini dibuat dengan :</h2>
            <ul class="kontak">
                <img src="../images/nodefooter.png" alt="">
        </div>
    </div>
</div>
{{>footer}}
<script>
    $(document).ready(function () {


        //btnDaftar
        let isDisable = `{{isDisable}}`;


        if (isDisable === 'true') {
            $("#btnDaftar").hide();
        } else {
            $("#btnDaftar").show();

        }

        //    $('#preload2').fadeIn(7000);

        $('#coba').click(function () {

            alert("asasaas");

        })

    });


    $(document).ready(function () {

        $("#header").click(function () {

            $.fn.fullpage.moveTo(1, 0);

        })


        $("#teknologi").click(function () {

            $.fn.fullpage.moveTo(2, 0);

        })


        $("#lokasi").click(function () {

            $.fn.fullpage.moveTo(3, 0);

        })

        $("#kontak").click(function () {

            $.fn.fullpage.moveTo(4, 0);

        })


    })



    $(document).ready(function () {
        $('#fullpage').fullpage({

            anchors: ['scroll1', 'scroll2', 'scroll3', 'scroll4'],

            navigation: true,
            navigationPosition: 'right',
            // navigationTooltips: ['Halaman 1', 'slide2'],
            showActiveTooltip: false,
            slidesNavigation: true,
            slidesNavPosition: 'bottom',
            lazyLoading: true,
            loopBottom: false,
            fadingEffect: true,
            dragAndMove: true,

            afterRender: function () {
                setInterval(function () {

                    $.fn.fullpage.moveSlideRight();

                }, 1999000);



            },

            afterLoad: function (anchorLink, index) {
                $('.preload').fadeIn(1000);
                $('.hilang').fadeIn(1000);

                // if (index == 2) {
                //     $(".hitungPercaya").show();
                //     $(".dipercaya").fadeIn(400);

                //     $(".hitungPercaya").each(function () {
                //         $(this).prop('Counter', 0).animate({

                //             Counter: $(this).text()
                //         }, {

                //             duration: 4000,
                //             easing: 'swing',
                //             step: function (now) {
                //                 $(this).text(Math.ceil(now));
                //             }

                //         })

                //     });
                // } // akhir index 2

                if (index == 2) {

                    $(".hitungPercaya").show();
                    $(".dipercaya").fadeIn(400);

                    $(".tiket").fadeIn({
                        queue: false,
                        duration: "slow"
                    });

                    $(".form-harga").fadeIn({
                        queue: false,
                        duration: "slow"
                    });

                    $(".tiket").animate({
                        marginLeft: "350px",

                    }, "slow");


                }

                if (index == 4) {



                }
            },
            afterSlideLoad: function (anchorLink, index, slideAnchor, slideIndex) {

                // alert("masuk");
                $('.preload').fadeIn(600);


            },
            onSlideLeave: function (anchorLink, index, slideIndex, direction, nextSlideIndex) {

                $('.preload').hide();

                // alert("keluar")

            }



        });
    });
</script>