 {{>headerAdmin}}
<div style="padding-top: 40px;" class="container">
    <div class="col-md-11 well  col-md-offset-2">
        <div class="col-md-11">
            <h1 class="judul"><i style="padding-right: 30px;" class="fa fa-area-chart    fa-fw fa-lg" aria-hidden="true"></i> Statistik Penjualan Tiket 
</h1>
            <hr class="">
        </div>
        <div style="padding-left: 15px;" class="col-md-5">
            <div class="panel  panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Keterangan Harga Tiket</h3>
                </div>
                <div class="panel-body">
                    <ul class="tulisTiket" style="padding-left: 15px;">
                        <li class="panah" style="list-style-type: none; "> Tiket Premium <code class="duit" style="margin-left: 5px;"> - Rp. 5.000.000 </code></li>
                        <li class="panah" style="list-style-type: none;"> Tiket Gold <code class="duit" style="margin-left: 35px;"> - Rp. 3.000.000 </code></li>
                        <li class="panah" style="list-style-type: none;"> Tiket Silver <code class="duit" style="margin-left: 30px;"> - Rp. 3.000.000</code></li>
                    </ul>
                </div>
            </div>
            <div class="panel   panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Jumlah Penjualan Tiket</h3>
                </div>
                <div class="panel-body panel-dashboard-chart">
                    <ul class="tulisTiket" style="padding-left: 15px;">
                        <li class="panah" style="list-style-type: none; "> Tiket Premium <code class="duit" style="margin-left: 5px;">3000</code> Tiket</li>
                        <li class="panah" style="list-style-type: none;"> Tiket Gold <code class="duit" style="margin-left: 35px;">2000</code> Tiket</li>
                        <li class="panah" style="list-style-type: none;"> Tiket Silver <code class="duit" style="margin-left: 30px;">3020</code> Tiket</li>
                    </ul>
                </div>
            </div>

              <div class="panel  panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Jumlah Status Tiket Terbayar</h3>
                </div>
                <div class="panel-body panel-dashboard-chart">
                    <ul class="tulisTiket" style="padding-left: 15px;">
                        <li class="panah" style="list-style-type: none; "> Tiket Premium <code class="duit" style="margin-left: 5px;">1203</code> Tiket</li>
                        <li class="panah" style="list-style-type: none;"> Tiket Gold <code class="duit" style="margin-left: 35px;">5463</code> Tiket</li>
                        <li class="panah" style="list-style-type: none;"> Tiket Silver <code class="duit" style="margin-left: 30px;">4122</code> Tiket</li>
                    </ul>
                </div>
            </div>
            
        </div>
        
        <div style="padding-right: 30px;" class="col-md-7    ">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Diagram Penjualan Jenis Tiket</h3>
                </div>
                <div class="panel-body  ct-chart">
                    <div class=””></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
{{>footer}}
<script>
    var data = {
        labels: ['Tiket Premium', 'Tiket Gold', 'Tiket Silver'],
        series: [
            [990, 888, 348]
        ]
    };

    var options = {
        seriesBarDistance: 1,

        high: 1000,
        low: 0,
        scaleMinSpace: 20,

        height: '500px'

    };

    var responsiveOptions = [
        ['screen and (min-width: 641px) and (max-width: 1024px)', {
            seriesBarDistance: 50,
            axisX: {
                labelInterpolationFnc: function (value) {
                    return value;
                }
            }
        }],
        ['screen and (max-width: 640px)', {
            seriesBarDistance: 90,
            axisX: {
                labelInterpolationFnc: function (value) {
                    return value[0];
                }
            }
        }]
    ];

    new Chartist.Bar('.ct-chart', data, options, responsiveOptions);
</script>