 {{>headerAdmin}}
<div style="padding-top: 50px;" class="container">
    <div class="col-md-11 well  col-md-offset-2">
        <div class="col-md-11">
            <h1 class="judul"> Statistik Penjualan Tiket</h1>
            <hr class="">
        </div>
        <div style="padding-left: 20px;" class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Keterangan Harga Tiket</h3>
                </div>
                <div class="panel-body">

            <ul class="tulisTiket" style="padding-left: 15px;">
                <li style="list-style-type: none;"> Tiket Premium - Rp. 5.000.000</li>
                <li style="list-style-type: none;"> Tiket Gold - Rp. 3.000.000</li>
                <li style="list-style-type: none;"> Tiket Silver - Rp. 3.000.000</li>
            </ul>
                    
                </div>
            </div>
           
        </div>
        <div style="padding-right: 30px;" class="col-md-8    ">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Diagram Penjualan Jenis Tiket</h3>
                </div>
                <div class="panel-body  ct-chart">
                    <div class=””></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
{{>footer}}
<script>
    var data = {
        labels: ['Tiket Premium', 'Tiket Gold', 'Tiket Silver'],
        series: [
            [990, 888, 348]
        ]
    };

    var options = {
        seriesBarDistance: 1,

        high: 1000,
        low: 0,
        scaleMinSpace: 20,

        height: '500px'

    };

    var responsiveOptions = [
        ['screen and (min-width: 641px) and (max-width: 1024px)', {
            seriesBarDistance: 50,
            axisX: {
                labelInterpolationFnc: function (value) {
                    return value;
                }
            }
        }],
        ['screen and (max-width: 640px)', {
            seriesBarDistance: 90,
            axisX: {
                labelInterpolationFnc: function (value) {
                    return value[0];
                }
            }
        }]
    ];

    new Chartist.Bar('.ct-chart', data, options, responsiveOptions);
</script>